body {
    background-color: #F7F3E8
}

div.header {
    background-color: #FFFFFF;
    align: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #D2B48C;
    border-radius: 5px;
}

img.icon {
    width: 100px;
    height: 100px;
    border: solid 3px #D2B48C;
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.3);
    float: left;
    margin: 10px 20px;
}

div.kitchen {
    font-size: 220%;
    margin: 15px 20px 10px;
}

div.userbio{
    color: #808080;
    font-size: 120%;
    margin-bottom: 15px;
}

div.follow{
    font-size: 120%;
    text-align: right;
}

img.follow_icon{
    width: 30px;
    height: 30px;
    float: right;
    margin-left: 10px;
}

div.user_info {
    background-color: #FFFFFF;
    border-radius: 5px;
}

div.recipe {
    padding-left: 20px;
    padding-top: 10px;
    font-size: 150%;
    font-weight: bold;
}

img.curry {
    width: 20%;
    height: 20%;
    margin: 10px 20px;
    float: left;
}

div.recipe_title {
    //border-bottom: solid 2px #9ACD32;
    color: #9ACD32;
    font-size: 200%;
}

div.recipe_intro {
    color: #808080;
    font-size: 120%;
}

div.report {
    padding-left: 20px;
    padding-top: 10px;
    clear: left;
    font-size: 150%;
    font-weight: bold;
}

img.naporitan {
    width: 20%;
    height: 20%;
    margin: 10px 20px;
    float: left;
}

div.report_title {
    color: #9ACD32;
    font-size: 200%;
}

div.report_user {
    font-size: 120%;
}

div.report_content {
    color: #808080;
    font-size: 120%;
    padding-bottom: 60px;
}
